*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}


body{
    background-image: url("bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}



.search-box{
    display:flex;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    border: 2px solid rgba(0, 0, 0, 0.163);
    border-radius: 50px;
    width: 300px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.075);
    gap:3px;
}

.search input{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 16px;
}

.search input::placeholder{
    color: black;
    font-family: 'poppins', sans-serif;
    font-size: 16px;

}

.search input:focus{
    outline: none;
}

.search img{
    width:13px;
    height: 20px;
    
}

.search-box button{
    border: 2px solid rgba(0, 0, 0, 0.236);
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.093);
    height: 50px;
    width:90px;
    font-size: 18px;
}

.container-weather{
    color:rgba(255, 255, 255, 0.779);
    background-color: rgba(0, 0, 0, 0.393);
    border-radius: 20px;
    height: 450px;
    width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.weather{
    display: flex;
    font-size: 90px;
}

.temp{
    display: flex;
    align-items: center;
}

.d-container{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-humwind{
    color:rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.393);
    border-radius: 20px;
    height: 450px;
    width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.humidity{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.wind{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}



@media (max-width: 1024px) {
  .d-container {
    flex-wrap: wrap;
    gap: 30px;
    height: auto;
  }

  .container-weather,
  .container-humwind {
    width: 90%;
    height: 360px;
  }
}


@media (max-width: 768px) {
  .search-box {
    flex-direction: column;
    gap: 10px;
  }

  .search,
  .search-box button {
    width: 90%;
  }

  .container-search{
    margin-bottom: 10px;  
  }

  .weather {
    font-size: 70px;
  }

  .temp {
    font-size: 45px;
  }
}


@media (max-width: 600px) {
  body {
    background-position: center;
  }

  .d-container {
    flex-direction: column;
    justify-content: center;
  }

  .container-weather{
    width: 95%;
    height: 260px;
    padding: 25px 10px;
  }
  .container-humwind {
    width: 95%;
    height: 190px;
    padding: 25px 10px;
  }

  .container-humwind {
    font-size: 20px;
  }

  .weather {
    font-size: 60px;
  }

  .temp {
    font-size: 38px;
  }
}

